@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Graduate&display=swap');

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #1e1e1e; */
    color: #fff;
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
}
.calc-case{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #1e1e1e;
    padding: 20px;
    box-shadow: 26px 11px 35px 16px rgba(0, 0, 0, 0.51);
    border-radius: 10px;
}
.calc-numbpad{
    display: flex;
    flex-direction: row;
}
.calc-ops{
    display: flex;
    flex-direction: column;
}

.calc-display{
    font-family: 'Graduate', 'cursive';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(82, 82, 82, 0.911);
    width: 350px;
    height: 100px;
    padding: 0 20px 0 20px;
    font-size: 2em;
    box-shadow: inset 0px 0px 35px 0px rgba(0, 0, 0, 0.39);
    overflow: hidden;
}

.calc-display button{
    width: 20%;
    height: 50%;
    border-radius: 50%;
    background-color: #1e1e1e;
    color: #cfcece;
}

button{
    width: 100px;
    height: 100px;
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    border-radius: 25%;
}

button:disabled{
    background-color: #1e1e1e;
    color: #fff;
}

.displayn{
    width: 300px;
    float: right;
    direction: rtl;
    overflow: scroll;
}

/* Estilos para el scroll */

.displayn::-webkit-scrollbar{
    -webkit-appearance: none;
}

.displayn::-webkit-scrollbar:horizontal {
    height: 10px;
}

.displayn::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #2b2c2c;
}

.displayn::-webkit-scrollbar-corner{
    display: none;
}

/* Estilos y hover para los botones */

.calcOps{
    background-color: #d6c5c5;
}

.nums{
    background-color: #d6d6d6;
}

.equalButton{
    background-color: #ffbbbb;
}

.nums:hover{
    background-color: #b1b1b1;
}
.calcOps:hover{
    background-color: #b4a4a4;
}

.equalButton:hover{
    background-color: #d37c7c;
}
.acButton:hover{
    background-color: #353535;
}

@media screen and (max-width: 500px){

    body{
        width: 100vw;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    #root{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .calc-display{
        width: 300px;
        height: 400px;
    } */
    main{
        width: 400px;
        height: 400px;
    }
    .calc-case{
        width: 300px;
        height: 400px;
    }
    .calc-numbpad{
        width: 300px;
        height: 300px;
    }
    .calc-display{
        width: 90%;
        height: 30%;
        padding: 10px 10px 10px 10px;
        font-size: 1.8em;
    }
    button{
        width: 75px;
        height: 75px;
        font-size: 1.2rem;
    }
}